@model user_dashboard.Models.UserViewModels

@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2>Register</h2>
            <form asp-controller="User" asp-action="Register" method="post">
                    <p>First Name:</p>
                    <input asp-for="Reg.first_name">
                    <p>Last Name:</p>
                    <input asp-for="Reg.last_name">
                    <p>Email Address</p>
                    <input asp-for="Reg.email"> 
                    <p>Password</p>
                    <input asp-for="Reg.password">
                    <p>Password Confirmation</p>
                    <input asp-for="Reg.passwordconfirmation">                
                    <br><br>
                    <button type="Submit">Register</button>
                    <div asp-validation-summary="All"></div>
            </form>     
        </div>
        <div class="col">
            <h2>Login</h2>
            <form asp-controller="User" asp-action="Login" method="post">
                <p>Email Address:</p>
                <input asp-for="Log.email">
                <p>Password:</p>
                <input asp-for="Log.password">
                <br><br>
                <button type="Submit">Login</button>
            </form>
        </div>
    </div>
</div>

