@model user_dashboard.Models.UserViewModels

@{
    ViewData["Title"] = "Add User";
}
<div class="container">
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand">Test App</a>
        <div class="navbar-nav">                   
            <a class=" nav-link" href="/admin/dashboard">Dashboard</a>
        </div>
        <div class="navbar-nav">
            <a class="nav-link" href="/users/show/@ViewBag.user.UserId">Profile</a>
        </div>
        <button class="navbar-text"><a href="/logout">Logout</a></button>
    </nav>
    <br>
    <div class="row">
        <div class="col-md-10">
            <h2>Add a new user</h2>
        </div>
        <div class="col-md-2">
            <button><a href="/admin/dashboard">Return to Dashboard</a></button>
        </div>
    <div class="row">
        <div class="col">
            <form asp-controller="Admin" asp-action="Admin_Add_User_Process" method="post">
                <p>First Name:</p>
                <input asp-for="Reg.first_name">
                <p>Last Name:</p>
                <input asp-for="Reg.last_name">
                <p>Email Address</p>
                <input asp-for="Reg.email"> 
                <p>Password</p>
                <input asp-for="Reg.password">
                <p>Password Confirmation</p>
                <input asp-for="Reg.passwordconfirmation">                
                <br><br>
                <button type="Submit">Register</button>
                <div asp-validation-summary="All"></div>
            </form>
</div>